services:
  database:
    restart: always
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: url_shortener
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_volume:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:8.0-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_volume:/data
  app:
    restart: always
    container_name: application
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - database
      - redis
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_URL: ${DB_URL}

volumes:
  pg_volume:
    driver: local
  redis_volume:
    driver: local